

<!-- <div id="grid1" ui-grid="$ctrl.gridOptions" class="myGrid">


    
     
     //input button and output button
</div>  --> 

 
   <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
    
        <div class="col-md-6">
          <label>
            <input type="radio" ng-model="color.name" value="red">
            Red
          </label>
        </div>
        <div class="col-md-6">
         <label>
            <input type="radio" ng-model="color.name" value="green">
            Red
          </label>
         </div>
   

    </div>
    <div class="col-md-10">
      <!--Body content-->
       <h1>Random Input Generator </h1>

<button id="button_add" class="btn btn-default" ng-click="$ctrl.rand($ctrl.test)">Add</button>
   
    
    <input type="text" ng-model="$ctrl.test">
        
    <h3>{{$ctrl.result}}</h3>
    
   

    </div>
  </div>
</div>
