 <h1>Test Sheets  </h1>

<button id="button_add" class="btn btn-default" ng-click="$ctrl.add()">Add</button>

 <div id="grid1" ui-grid="$ctrl.gridOptions" class="grid">


     
     
     //input button and output button
</div> 

  <!--
      Try clicking the Add button to add the company column.
      Try clicking the Remove button to remove the last column.
      Try clicking the Splice button to insert a column in the middle.
      <br>
      <br>
      <button id="button_add" class="btn btn-default" ng-click="$ctrl.add()">Add</button>
      <button id="button_remove" class="btn btn-default" ng-click="$ctrl.remove()">Remove Last</button>
      <button id="button_splice" class="btn btn-default" ng-click="$ctrl.splice()">Splice</button>
      <button id="button_unsplice" class="btn btn-default" ng-click="$ctrl.unsplice()">Remove Middle</button>
      <button id="button_toggle_visible" class="btn btn-default" ng-click="$ctrl.toggleVisible()">Toggle Visible</button>
      <button id="button_toggle_display_name" class="btn btn-default" ng-click="$ctrl.toggleDisplayName()">Toggle Display Name</button>
      <div id="grid1" ui-grid="$ctrl.gridOptions" class="grid"></div>
    --> 